.panel.panel-success.rabbit-table
  .panel-heading
    %h4 Rabbitmq Publisher Stats
  %table.table
    %tr
      %th UUID
      %th Date
      %th Ack1
      %th Ack2
      %th Ack3
    - @currencies.each do |currency|
      %tr
        %td= currency.uuid
        %td= currency.created_at
        %td= boolean_icon currency.ack1
        %td= boolean_icon currency.ack2
        %td= boolean_icon currency.ack3
